@{
    ViewData["Title"] = "Home Page";
}
    
<!-- WELCOME SECTION -->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal pb-3">We help you find your passion</h1>
        <p class="lead font-weight-normal pb-5">Explore new skills, deepen existing passions, and get lost in creativity. What you find just might surprise and inspire you. We have everything you can dream of in the world of technology</p>
        <a class="btn btn-outline-primary" asp-controller="Courses" asp-action="Index">All courses</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<!-- FEATURES SECTION -->
<div class="p-5">

    <div class="row featurette" style="padding: 10rem 3rem">
        <div class="col-md-7">
        <h2 class="featurette-heading">Find your meaning <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="https://images.unsplash.com/photo-1520583457224-aee11bad5112?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fGNvZGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Computor with code">
        </div>
    </div>

</div>

<hr class="featurette-divider">

<div class="row featurette" style="padding: 10rem 3rem">
    <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Up-to-date technologies <span class="text-muted">See for yourself.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="https://images.unsplash.com/photo-1545235617-9465d2a55698?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="Computor with webdesign">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" style="padding: 10rem 3rem 2rem">
    <div class="col-md-7">
    <h2 class="featurette-heading">Teachers with passion. <span class="text-muted">Now, it's your turn.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="https://images.unsplash.com/photo-1580894732930-0babd100d356?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="Game development">
    </div>
</div>
