@model App.ViewModels.EditCourseViewModel

<h1 class="m-5"> You are editing a course </h1>

<form asp-controller="Courses" asp-action="Edit" method="POST">
    <div class="card">
        <div class="card-header p-4">
        <h4>@Model.Title</h4>
        </div>
        <div class="card-body p-4">
            <div class="mb-3">
                <label class="form-label" asp-for="CourseNumber"></label>
                <input class="form-control" asp-for="CourseNumber" />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Title"></label>
                <input class="form-control" asp-for="Title" />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" cols="30" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Length">Length(Weeks)</label>
                <input class="form-control" asp-for="Length" min="1" />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Difficulty"></label>
                <select class="form-select form-select-lg mb-3" asp-for="Difficulty" aria-label="Select a difficulty">
                    <option value="Beginner" asp-for="Difficulty">Beginner</option>
                    <option value="Intermediate" asp-for="Difficulty">Intermediate</option>
                    <option value="Advanced" asp-for="Difficulty">Advanced</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Status"></label>
                <select class="form-select form-select-lg mb-3" asp-for="Status" aria-label="Select the state of the course">
                    <option value="Active" asp-for="Status">Active</option>
                    <option value="Retired" asp-for="Status">Retired</option>
                </select>
            </div>
            <input class="btn btn-primary"type="submit" value="Save">
        </div>
    </div>
</form>